.Item_Container {
  display: flex;
  flex-direction: column;
  /* background-color: #e4c0a8; */
  justify-content: space-around;
  align-items: center;
  height: 400px;
  border: black 1px solid;
  border-radius: 10px;
  padding: 20px;
}
.Item_Container > figure > img {
  width: 200px;
  height: 200px;
  background-color: #7e4cca;
  color: #7e4cca;
}
.Item_Button {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 30px;
  transition: 0.5s all ease-in;
}
.Item_Button > button {
  width: 90px;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.Item_Button > button:nth-of-type(1) {
  background-color: green;
  color: white;
  transition: 0.3s all ease-in;
}

.Item_Button > button:nth-of-type(2) {
  border: 1px solid rgb(50, 50, 50);
  transition: 0.3s all ease-in;
}

.Item_Button > button:nth-of-type(1):hover {
  border: 1px solid green;
  background-color: white;
  color: black;
}
.Link {
  color: black;
  text-decoration: none;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s all ease-in;
}
.Link:hover {
  border: black 1px solid;
}
.Item_inc {
  width: 40px !important;
  font-size: 15px;
  transition: 0.5s all ease-in !important;
}
.Item_Dec {
  margin-right: 15px;
}
